In [12]:
import pandas as pd
url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"
dados = pd.read_csv(url)

In [13]:
dados.head()

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000

In [19]:
dados.sample(10)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
6225,NaN,Jabaquara,São Paulo,117,3,2,1,R$ 719.000
570,Rua França,Jardim Europa,São Paulo,620,4,3,6,R$ 8.980.000
4341,Rua Eugênio Falk,Saúde,São Paulo,100,2,1,2,R$ 480.000
7986,Rua Filipe de Lorenzo,Vila Isolina Mazzei,São Paulo,160,3,2,3,R$ 580.000
705,Rua Pacobá,Jardim Panorama,São Paulo,639,4,6,4,R$ 3.500.000
2670,NaN,Jardim Guedala,São Paulo,681,2,3,6,R$ 2.300.000
4923,Avenida Lins de Vasconcelos,Cambuci,São Paulo,198,3,2,6,R$ 950.000
3416,"Rua Doutor Fausto de Almeida Prado Penteado, 302",Jardim Sílvia (Zona Oeste),São Paulo,1643,4,4,5,R$ 3.800.000
9434,Rua Camundo,Planalto Paulista,São Paulo,155,3,4,3,R$ 770.000
4155,Rua Doutor David Campista,Jardim Paulista,São Paulo,340,3,2,3,R$ 3.300.000

In [26]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10008 entries, 0 to 10007
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rua        6574 non-null   object
 1   Bairro     9996 non-null   object
 2   Cidade     10008 non-null  object
 3   Metragem   10008 non-null  int64
 4   Quartos    10008 non-null  int64
 5   Banheiros  10008 non-null  int64
 6   Vagas      10008 non-null  int64
 7   Valor      10008 non-null  object
dtypes: int64(4), object(4)
memory usage: 625.6+ KB

In [28]:
dados["Bairro"][3416]

'Jardim Sílvia (Zona Oeste)'

In [32]:
dados["Metragem"].mean()

442.30065947242207

In [34]:
sum ((dados["Bairro"] == "Jardim Sílvia (Zona Oeste)"))

31

In [42]:
dados.index.is_object()

False