In [12]:
import pandas as pd
url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"
dados = pd.read_csv(url)

In [13]:
dados.head()

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000

In [18]:
dados.sample(10)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
690,"Rua Aurélia, 1436",Vila Romana,São Paulo,117,4,1,2,R$ 790.000
7042,NaN,Jardim da Glória,São Paulo,303,2,6,6,R$ 990.000
6802,Rua Péricles,Jardim Petrópolis,São Paulo,900,3,3,5,R$ 13.000.000
4249,NaN,Jardim Paulistano,São Paulo,400,5,4,2,R$ 7.500.000
2355,NaN,Pacaembu,São Paulo,240,5,7,6,R$ 2.980.000
2175,Rua Dom Duarte Leopoldo,Cambuci,São Paulo,93,2,2,1,R$ 595.000
3948,Rua Brigadeiro Gama Barcelos,Parque Jabaquara,São Paulo,200,3,1,4,R$ 870.000
9137,Rua Desembargador do Vale,Perdizes,São Paulo,76,3,1,1,R$ 850.000
3561,Avenida Bagiru,Boaçava,São Paulo,407,4,6,2,R$ 3.950.000
963,Avenida Diógenes Ribeiro de Lima,Alto de Pinheiros,São Paulo,439,3,5,6,R$ 3.100.000